<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Course Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="container" #container>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>Start Date: {{ startDate | date: 'fullDate' }}</div>

  <button (click)="onCoursesEdited()">Edit Courses</button>

  <app-course-card *ngFor="let course of courses; index as i" 
  (courseSelected)="onCardClicked($event)" [course]="course" [cardIndex]="i">

    <img width="50%" alt="Angular logo" [src]="course.iconUrl" /> 

  </app-course-card>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-title>Footer</ion-title>
	</ion-toolbar>
</ion-footer>
