<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Course Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="container">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>Start Date: {{ startDate | date: 'fullDate' }}</div>

  <button (click)="onCoursesEdited()">Edit Courses</button>

  <app-course-card *ngFor="let course of courses; index as i" 
  (courseSelected)="onCardClicked($event)" [course]="course" [cardIndex]="i">

    <app-course-image [src]="course.iconUrl"></app-course-image>
    <app-course-image [src]="courses[1].iconUrl"></app-course-image>
    <app-course-image [test99]="test"></app-course-image>
    <ion-card-subtitle>{{ course.longDescription }}</ion-card-subtitle>

  </app-course-card>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-title>Footer</ion-title>
	</ion-toolbar>
</ion-footer>
